@font-face {
  font-family: 'Custom';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('../fonts/Custom-Italic-VariableFont_wght.ttf') format('ttf');
}

@font-face {
  font-family: 'Custom';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('../fonts/Custom-VariableFont_wght.tff') format('ttf');
}